/* DancingScript */
@font-face {
  font-family: Dancing Script;
  src: url(./DancingScript-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Dancing Script;
  src: url(./DancingScript-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Dancing Script;
  src: url(./DancingScript-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Dancing Script;
  src: url(./DancingScript-Regular.ttf) format("truetype");
  font-weight: 400;
}
