/* Be Vietnam Pro */
@font-face {
  font-family: Be Vietnam Pro;
  src: url(./BeVietnamPro-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url(./BeVietnamPro-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url(./BeVietnamPro-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url(./BeVietnamPro-Regular.ttf) format("truetype");
  font-weight: 400;
}
